*.dat
*.exe
*.smx
*.inc
*.vscode
*.code-workspace
*.sp
*.sql
[Cc]compiled/
[Dd]esktop.ini
[Tt]humbs.db

# Excluded Files:

#Compiled Plugins
!addons/sourcemod/plugins/chaos_fortress.smx
!addons/sourcemod/plugins/cf_abilities/cf_generic_abilities.smx
!addons/sourcemod/plugins/cf_abilities/cf_mercenary.smx
!addons/sourcemod/plugins/cf_abilities/cf_soundpack.smx

#Source Code
!chaos_fortress.sp
!cf_animator.sp
!cf_generic_abilities.sp
!cf_mercenary.sp
!cf_orbital.sp
!cf_plugin_template.sp
!cf_soundpack.sp
!cf_spookmaster.sp
!cf_abilities.sp
!cf_buttons.sp
!cf_characters.sp
!cf_core.sp
!cf_damage.sp
!cf_killstreak.isp
!cf_sounds.sp
!cf_viewchange.sp
!cf_weapons.sp
!cf_heavnich.sp
!cf_demopan.sp
!cf_plugin_template.sp
!cf_cbs.sp
!cf_dokmed.sp
!tf2_playercollisions.sp

#Include Files
!cf_include.inc
!cf_stocks.inc
!tf_player_collisions.inc